body {
    padding-top: 69px;
    font-family: 'Marcellus SC', serif;
    background-color: whiteSmoke;
}

.end {
    margin-bottom: 110px;
}

.game {
    background-color: #000;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff
}

#stage {
    color: white;
    background-image: url(../img/bg.jpg);
    width: 463px;
    height: 512px;
    margin: auto;
}

.box {
    width: 16px;
    height: 16px;
    float: left;
    text-align: center;
}

#Pacman {
    position: absolute;
    margin: 9px;
    background-image: url(../img/pacman.gif);
    background-size: 16px;
}

.coin {
    width: 6px;
    height: 6px;
    margin-left: 14px;
    margin-top: 14px;
    background: yellow;
    position: absolute;
    border-radius: 300px;
}

.gameMenu {
    margin: auto;
    width: 463px;
}

.gameMenu li {
    margin-left: 10px;
}

.gameMenu h3 {
    padding-left: 320px;
    line-height: 10px;
    color: black;
}

#gameOver {
    position: absolute;
    height: 16px;
    color: #d9dd00;
    font-size: 24px;
    background: black;
    margin: 7px;
    font-weight: bold;
}